.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  cursor: default; }

.background-preload {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.background-loaded {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease; }

.background-fade-in {
  opacity: 1; }

::-webkit-scrollbar {
  width: 0; }

.is-hidden {
  display: none; }

.content {
  z-index: 10; }
