@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100');

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.quote {
  font: 20px 'Gothic A1', sans-serif;
  width: 100%;
  position: absolute;
  bottom: 2%;
  z-index: 99999999;
  text-align: center;
  color: #fff;
}